@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,900;1,600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: #FFF4E7;
    padding-top: 50px;
}
nav, .banner,.company-moto{
    max-width:1024px;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
}
.main{
    max-width:992px;
    margin: 0 auto;

}
.brand-name{
    color:#131313;
    font-size:35px;
    font-weight: 700p;
}
.menu-container{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:50px;
}
.menu-container li a{
    text-decoration: none;
    color:#424242;
}
/* company moto design part */
.company-moto{
    display:flex;
    justify-content: center;
    margin-top:100px;

}
.moto-container{
    width:60%;
    text-align:center;
}
.moto-title{
    font-size: 40px;
    color:#131313;
    font-weight: 700;
    margin-bottom: 20px;
}
.company-desc{
    color:#727272;
    font-size: 16px;
    margin-bottom: 30px;

}
.btn-primary{
    padding:10px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FF900E;
    color:white;
    border:none;
    font-weight:500;
    margin-bottom: 60px;

}
/* banner section design */
.banner-img-container{
    padding-bottom: 60px;
}
.banner-img-container img{
    width:100%;
    height: 100%;
}

/* quicklist-section design  */
.quicklist-section{
    display: flex;
    padding: 0px 50px;
    padding-bottom: 50px;
    gap:50px;
    align-items: flex-end;
}
.quicklist-grid{
  margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
.quicklist-item{
    border-radius:5px;
}
.quicklist-item img{
    width: 100%;

}
.quicklist-details .quicklist-title{
    font-size: 38px;
    font-weight: 500;
    color: #727272;
    margin-bottom: 13px;
}
.quicklist-title strong{
    color: black;
}
.quicklist-details .quicklist-title span{
    color:#FF900E;
}
.quicklist-para{
    color: #727272;
    font-size: 16px;
    margin-bottom: 15px;
}
/* featured section design  */

.featured-section{
    padding-top:50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:70px;
}

.featured-points-title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 10px;
    border-left: 3px solid #FF900E;
}
.featured-points-desc{
    color:#727272;
    font-size: 16px;
    margin-bottom: 20px;
}
.point{
    padding:20px 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.10);
    border-radius: 5px;
}
.point-title{
    font-size: 20px;
    font-weight: 500;
    color:#131313;
    margin-bottom: 5px;
}
.point-desc{
    font-size: 15px;
    color:#727272;
}
.featured-img-wrapper img{
    width: 100%;
    height: 100%;
}
.featured-img-wrapper{
    position: relative;
}
.experience-token{
    background-color: #FF900E;
    color:white;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    width:180px;
    height: 100px;
    position: absolute;
    bottom:-30px;
    left:-40px;
}
.experience-token p{
    font-size: 30px;
    font-weight: 600;
}
.experience{
    font-size:15px;
}
/* fact section design  */
.facts-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.facts-detail-container{
    width:35%;
    height: 200px;

}
.facts-title{
    font-size: 39px;
    margin-bottom:15px;
}
.facts-desc{
    font-size: 16px;
    color:#727272;
}
.fact-items-container{
    display: flex;
    justify-content: space-evenly;
}
.fact-item{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:25px;
    border:2px solid #FF900E;
    border-radius: 5px;
}
.fact-item:hover{
 transform: scale(1.2);
 border: 2px solid greenyellow;
}
/* .fact-item img{
    margin-top: 40px;
    margin-bottom: 5px;
} */
.fact-item img span{
    font-size:20px;
}
.fact-item p{
    font-size: 16px;
    color:#727272;
    font-weight: 500;
}
/* sponcer section design */

.sponscer-details{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.sponscer-title{
    color:#131313;
    font-size: 40px;
    margin-bottom: 10px;
}
.sponscer-desc{
    color: #727272;
    font-size: 15px;
    margin-bottom: 30px;
}
.sponscer-items-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:15px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
}
.sponser-name img{
    width: 100px;
}
/* footer section design */
.footer{
    padding-bottom: 50px;
}
.footer-content{
    max-width: 1024px;
    background-color: #FFF4E7;
    padding: 18px 0px;
    color:#424242;
    margin:0 auto;

}
 footer .copyright{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* responsive design for small device  */
        /* responsive design for small device  */

@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        align-items: center;

    }
    .menu-container{
        flex-direction: column;
        gap:30px;
    }
    .menu-container:nth-child(1){
        padding-top: 40px;
    }
    .moto-title{
        font-size:22px;
    }
    .moto-desc{
        font-size:13px;
    }
   .banner-img-container{
    padding: 30px 10px;
   }
   .quicklist-section{
    flex-direction: column-reverse;
    gap:20px;
   }
   .quicklist-grid{
    grid-template-columns: repeat(1,1fr);
    gap:15px;
    margin-top: 0px;;
   }

   .quicklist-details{
    padding-top: 20px;
   }
   .quicklist-details .quicklist-title{
    font-size: 23px;
   }
   .featured-section{
  grid-template-columns: repeat(1,1fr);
   }
   .featured-points{
    padding: 0px 10px;
   }
   .experience-token{
    left:70px;
    bottom:-40px;
   }
   .featured-img-wrapper{
    padding:0px 10px;
   }
   .facts-detail-container{
    padding-left: 10px;
    width: 85%;
    height: 200px;
   }
   .fact-item{
    width: 70%;
   }

   .fact-items-container{
    flex-direction: column;
    align-items: center;
    gap:20px;
   }
   .sponscer-details{
    width:90%;
   }
   .sponscer-title{
    font-size: 35px;
   }
   .sponscer-desc{
    font-size: 16px;
   }
   .sponscer-items-container{
    grid-template-columns: repeat(2,1fr);
    padding-top:10px;
   }
   .sponser-name img{
width:80px;
   }
 .copyright{
    font-size: 15px;
 }

}